TERMIWEB_HOST=
TERMIWEB_PORT=32443
# TERMIWEB_SESSION_COOKIE_NAME=
TERMIWEB_PASSWORD=change-me-first
TERMIWEB_ALLOW_LAN=true
TERMIWEB_DEFAULT_SHELL=
TERMIWEB_FIXED_COLS=80
TERMIWEB_MAX_SESSIONS=8
TERMIWEB_SESSION_TTL_HOURS=168
TERMIWEB_DATA_DIR=.termiweb
TERMIWEB_HISTORY_LIMIT=200000
