TERMIWEB_HOST=
TERMIWEB_PORT=22443
TERMIWEB_PASSWORD=change-me
TERMIWEB_ALLOW_LAN=false
TERMIWEB_DEFAULT_SHELL=
TERMIWEB_MAX_SESSIONS=8
TERMIWEB_SESSION_TTL_HOURS=168
TERMIWEB_DATA_DIR=.termiweb
TERMIWEB_HISTORY_LIMIT=200000
